.container-testimonio {
  display: flex;

  flex-direction: row;

  width: 80vw;
  margin: 0px 50px 30px 10vw;
  background-color: grey;
  color: white;
  font-size: 22px;
}

.contenedor-texto-testimonio {
  padding: 20px;
}

.nombre-testimonio,
.cargo-testimonio {
  text-align: center;
}

.texto-testimonio {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .container-testimonio {
    display: flex;

    color: white;
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .container-testimonio {
    flex-direction: column;
    font-size: 15px;
  }
}
